Options -Indexes
# Block direct access to internal files
<FilesMatch "^(config\.php|config\.sample\.php|README\.md|\.git.*)$">
    Require all denied
</FilesMatch>
<IfModule mod_php.c>
    php_value upload_max_filesize 20M
    php_value post_max_size 80M
</IfModule>
